<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <br><br><br><br><br><br><br>
        <div class="text-center">
            <img src="https://i.imgur.com/9kAlxum.png">
            <br><br><br>
        </div>
        <div id="div_delete_single" class="col-xs-4 col-xs-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="login_form" method="post" action="form_delete">
                        <div class="form-group">
                            <label for="login">//Login</label>
                            <input name="login" type="text" id="login" class="form-control" placeholder="admin">
                        </div>
                        <div class="form-group">
                            <label for="pass">//Password</label>
                            <input name="pass" type="text" id="pass" class="form-control" placeholder="********">
                        </div>
                        <div style="text-align:center;">
                            <input name="form_submit" type="submit" id="form_submit" value="Login" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>