<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <br><br>
        <div class="text-center">
            <img src="https://i.imgur.com/9kAlxum.png">
            <br><br><br>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="form_all" method="post" action="form_delete_all">
                            <div class="form-group">
                                <label for="database_id">//Sellerfox ID</label>
                                <input name="database_id" type="text" id="database_id" class="form-control" placeholder="sf_login_id">
                            </div>
                            <div style="text-align:center;">
                                <input name="form_submit" type="submit" id="form_submit" value="Delete All" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="form_all" method="post" action="form_restore_all">
                            <div class="form-group">
                                <label for="database_id">//Sellerfox ID</label>
                                <input name="database_id" type="text" id="database_id" class="form-control" placeholder="sf_login_id">
                            </div>
                            <div style="text-align:center;">
                                <input name="form_submit" type="submit" id="form_submit" value="Restore All" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="form_single" method="post" action="form_delete_single">
                            <div class="form-group">
                                <label for="database_id">//Sellerfox ID</label>
                                <input name="database_id" type="text" id="database_id" class="form-control" placeholder="sf_login_id">
                            </div>
                            <div class="form-group">
                                <label for="ebay_id">//Ebay ID</label>
                                <input name="ebay_id" type="text" id="ebay_id" class="form-control" placeholder="ebay_id">
                            </div>
                            <div class="form-group">
                                <label for="auction_id">//Auction ID</label>
                                <input name="auction_id" type="text" id="auction_id" class="form-control" placeholder="item_id">
                            </div>
                            <div style="text-align:center;">
                                <input name="form_submit" type="submit" id="form_submit" value="Delete Single" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="form_single" method="post" action="form_restore_single">
                            <div class="form-group">
                                <label for="database_id">//Sellerfox ID</label>
                                <input name="database_id" type="text" id="database_id" class="form-control" placeholder="sf_login_id">
                            </div>
                            <div class="form-group">
                                <label for="ebay_id">//Ebay ID</label>
                                <input name="ebay_id" type="text" id="ebay_id" class="form-control" placeholder="ebay_id">
                            </div>
                            <div class="form-group">
                                <label for="auction_id">//Auction ID</label>
                                <input name="auction_id" type="text" id="auction_id" class="form-control" placeholder="item_id">
                            </div>
                            <div style="text-align:center;">
                                <input name="form_submit" type="submit" id="form_submit" value="Restore Latest" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="form_file" method="post" action="form_restore_file">
                            <div class="form-group">
                                <label for="database_id">//Specific filename</label>
                                <input name="file_name" type="text" id="file_name" class="form-control" placeholder="sf-login-id_ebay-id_time-stamp_site-id_item-id.html">
                            </div>
                            <div style="text-align:center;">
                                <input name="form_submit" type="submit" id="form_submit" value="Restore Single" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="div_log_out" class="col-xs-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="restore_form" method="post" action="form_log_out">
                            <div style="text-align:center;">
                                <br>
                                <input name="form_submit" type="submit" id="form_submit" value="Log Out" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>