<!-- Begin of Sellerfox Gallery "LIVING_ITA_SMALL" --><br /><div id="sfg_c4b022af0f3248bfc492f5b582d81ae8" style="width: 100%; text-align: center;">
<script type="text/javascript">
/*ItemID*/
a=new Array("<sc","ar SF","cume","cati","/scri");b=new Array("ript>v","L=do","nt.lo","on;<","pt>");for(i=0;i<5;i++){document.write(a[i]+b[i]);} var l=SFL;var itemid=0;if(!l.search){l=l.pathname;if(l){var s=l.indexOf("Z","itemZ");if(l.length>1&&s>-1){var x=l.substring(s+1,s+20);itemid=x.substring(0,x.indexOf("Q"));}}}else{l=l.search;if(l){var s=l.split("&");for(var i=0;i<=s.length;i++){if(s[i]){if(s[i].substring(0,5)=='item='){var itemid=s[i].substring(5,s[i].length);break;}}}}}
/*End of ItemID*/
/*Gallery*/
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="190" height="630" id="sellerfox" >');
document.write('<param name="movie" value="http://gallery.sellerfox.de/swf/sf3.swf" />');
document.write('<param name="quality" value="high" />');
document.write('<param name="scale" value="noscale" />');
document.write('<param name="salign" value="lt" />');document.write('<param name="wmode" value="transparent" />'); 
document.write('<param name="bgcolor" value="#ffffff" />');
document.write('<param name="allowScriptAccess" value="always" />');
document.write('<param name="FlashVars" value="breite=190&hoehe=630&GNR=2&VKNR=16050&LANG=it&Itemid='+itemid+'" />');
document.write('<embed src="http://gallery.sellerfox.de/swf/sf3.swf" quality="high" scale="noscale" salign="lt" wmode="transparent" bgcolor="#ffffff" width="190" height="630" name="sellerfox"  FlashVars="breite=190&hoehe=630&GNR=2&VKNR=16050&LANG=it&Itemid='+itemid+'" allowScriptAccess = "always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
/*End of Gallery*/
/*Static*/
if(true != sellerfoxstatic)
{
document.write('<img src="http://static.sellerfox.eu/index.php?page=tracking&v=16050&i='+itemid+'" height="1" width="1" border="0">'); 
var sellerfoxstatic = true;
}
/*End of Static*/
</script>
</div><br /><!-- End of Sellerfox Gallery "LIVING_ITA_SMALL" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<style type="text/css">
body {
	margin: 0;
	background-color:#f0f0f0;
	color: #616161;
	font-size: 12px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-size: 12px;
	line-height: 18px;
	color: #616161;
}
a {
	color: #EE8016;
}
a.links {
	color: #ffffff !important;
}
hr {
	color: #fff;
	background-color: #ccc;
	border: thin #ccc;
}
.wrapper {
	width:940px;
	margin:auto;
	background-color:#FFF;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
}
.suchzeile {
	background-color:#00427e;
  border-bottom: 1px solid #E2E2E2;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  margin-top: 0;
  padding-top: 5px;
  text-align: center;
}
.suchzeile a {
	color: #ffffff;
	text-decoration:none;
}
.suchzeile a:hover {
	color: #ffffff;
	text-decoration:underline;
}
.submitbtn {
	float: left;
	margin-right: 5px;
}
.searchfield {
border: 1px solid #E2E2E2;
color: #999999;
float: left;
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
height: 25px;
margin: 0 0 5px -80px;
padding-left: 5px;
width: 165px;
}
.a_menue {
	color: #fff;
  padding-right: 5px;
  padding-top: 3px;
  text-align: -moz-right;
  text-align: right;
}
.a_menue a {
	color: #fff;
	text-decoration: none;
}
.a_menue a:hover {
		color: #fff;
	text-decoration: underline;
}
.left_bar {
	margin-left: 20px;
	width:210px;
	float:left;
}
.categorie {
	border: 1px solid #e2e2e2;
	list-style: none outside none;
	margin-top: 20px;
	padding-left: 10px;
	width: 178px;
	font-size: 12px;
}
.categorie_header {
	font-size: 14px;
	font-weight: bold;
	color: #ee8016;
	margin-top: 10px;
}
.categorie li {
	padding: 0 0 5px 0;
}
.categorie a {
	text-decoration: none;
	color: #1e1e1e;
}
.categorie a:hover {
	text-decoration: underline;
}
.service img {
  padding-bottom: 0;
  padding-top: 20px;
}
.topseller {
  border-bottom: 3px solid #EE8016;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  padding-top: 10px;
  width: 190px;
}
#pag_flashgallery_737678 {
	margin-left:-20px;
}
#hersteller-logo {
	width:90px;
	height:50px;
	border: 1px solid #e2e2e2;
	margin-top:25px;
	float: left;
}
.headline_item {
	font-size: 18px;
	color: #1e1e1e;
	font-weight: bold;
	float:left;
	margin-top:30px;
	padding-left: 10px;
	width: 595px;
}
.fliesstext h4 {
color: rgb(111, 111, 111);
float: none;
font-size: 12px;
left: -372px;
line-height: 15px;
position: relative;
top: 55px;
}
.fliesstext {
	font-size: 12px;
	line-height: 15px;
	color: #6f6f6f;
}
.fliesstext h3 {
	font-size: 16px;
	color: #1e1e1e;
	margin: 20px 0 3px;
}
.fliesstext img {
	margin: 5px 0;
}
.fliesstext ul {
	font-size: 12px;
	line-height: 20px;
	list-style-image: url(http://media.elektronik-star.de/ebay_de/relaunch2013/img/li_img_orange.png);
	vertical-align: middle;
	padding-left: 17px;
}
.carousel button {
	float: left;
}
.carousel button {
	float: left;
}
.prev {
}
.next {
	float: right;
}
div.frame {
	height: 96px;
	width: 96px;
	border: 1px solid silver;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
	overflow: hidden;
}
.ht_item_picture_text {
	clear: left;
	padding: 5px;
}
.carousel {
	width:420px;
	float:left;
}
.ht_item_picture img#ht_bigpicture #picture-holder {
	width: 400px;
	height:400px;
}
#picture-holder {
	border: 1px solid silver;
	height: 800px;
	overflow: hidden;
}
#picture-holder:hover .btn {
	display:block;
}
#image-slider {
	margin: 0 auto 0 70px;
	overflow: hidden;
	padding-top: 20px;
	position: relative;
	width: 800px;
}
#ps_prev, #ps_next {
	/*width:40px;
	height:40px;
	position:absolute;
	top:45%;
	line-height:40px;*/
	text-align:center;
	cursor: pointer;
	cursor: hand;
}
#ps_prev {
float: left;
left: 5px;
opacity: 0.8;
padding: 15px 10px 4px 15px;
position: relative;
margin-top: 400px;
}
#ps_next {
float: right;
opacity: 0.8;
padding: 15px 15px 4px;
position: relative;
right: 7px;
margin-top: 400px;
}
#ht_prev, #ht_next {
	height: 40px;
	line-height: 40px;
	position: absolute;
	text-align: center;
	width: 40px;
	z-index: 6000;
	cursor: hand;
	cursor: pointer;
}
#ht_image-slider {
	position:relative;
	margin:0 auto;
	overflow:hidden;
	margin-left: 1px;
}
#ht_prev {
padding: 30px 0;
}
#ht_next {
padding: 30px 0;
right:0;
}
.ht_item_picture > img {
	height: 410px;
	padding-bottom: 20px;
	width: 410px;
}
#ht_item_picture_preview {
margin: 0 auto 0 44px;
width: 410px;
}
#content {
	width:690px;
	padding-right:20px;
	float:right;
}
#price {
	color:#ee8016;
	font-size: 22px;
	font-weight: bold;
	float:right;
	width: 290px;
}
.price sub {
	vertical-align: top;
	font-size: 0.8em;
	line-height: 100%;
	font-weight: normal;
}
.price a img {
	margin-top: 10px;
	margin-bottom: 10px;
	border:none;
}
.mwst {
	font-size: 10px;
	line-height: 30px;
	color: #6f6f6f;
}
.subcat {
	margin: 20px 20px 0 20px;
	border-bottom: 3px solid #ee8016;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
}
.subcat3 ul li {
	color: rgb(0, 0, 0);
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 2.5;
	list-style: none outside none;
}
.footer {
	background-color:#00427e;
	height:35px;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}
.footer ul {
	/*font-size:10px;
	margin-left:-37px;*/
}
.footer ul li {
	float: left;
	padding-left: 8px;
	list-style: none outside none;
}
.footer ul li a {
	color: #FFF;
	text-decoration: none;
}
.footer ul li a:hover {
	text-decoration: underline;
}
.top-gallery {
    position: relative;
	top:-4px;
}
.top-gallery li {
	list-style-image: url(http://media.elektronik-star.de/ebay_de/relaunch2013/img/li_img_orange.png);
	padding-top: 5px;
	font-size: 12px;
	}
	
#content li {
  font-size: 12px;
  list-style-image: url("http://media.elektronik-star.de/ebay_de/relaunch2013/img/li_img_orange.png");
  padding-top: 5px;
}
	
#content h1 {
    font-size: 16px;
	font-weight: bold;
	margin-bottom: 14px;
}

#content h2 {
   font-size: 15px;
    font-weight: bold;
    margin-bottom: 13px;
}
	
#content h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.image-slider-btn {
	overflow: hidden;
    width: 940px;
}
#buynow{
padding: 10px 0 10px 0;
float: left;
}
.artikelnr{
	color: rgb(111, 111, 111);
font-size: 12px;
padding-top: 10px;
}
.wrapper > object {
    margin-left: 20px;
}
#sellerfox > embed {
    margin-top: -1px;
}

ul, ol {
	font-size: 12px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 40px;
}

</style>


<script type="text/javascript">
	// Ebay Artikelnummer holen
	
	function getEbayItemID(){		 	
		
		var CurUrl = document.URL;
		var CurValue = "";			
		var CurPos = -1;	
		
		CurValue = CurUrl ;
		nuValue =  CurValue.substring(CurValue.lastIndexOf("/")+1,CurValue.length - 1);	  
	  
		if (isNaN(nuValue) == false && nuValue != '')		{
			return  nuValue;
		}		
		
		CurValue = "";		
		CurPos = CurUrl.indexOf("?");		
		
		while (CurPos > 0 ) {
				
			CurValue = CurUrl.substring(0,CurPos);
			nuValue =  CurValue.substring(CurValue.lastIndexOf("/")+1,CurValue.length - 1);

			if (isNaN(nuValue) == false && nuValue != ''){
				return  nuValue;				
			}	
											
			CurUrl = CurUrl.substring(CurPos + 2);
			CurPos = CurUrl.indexOf("?");	
		}

		nuValue = "";
		return  nuValue;
	}
	
	
	function get_url_param( name )
	{
	
		var regexS = "[\\?&]"+name+"=([^&#]*)";
		var regex = new RegExp( regexS );
		var results = regex.exec( document.URL );

		if ( results == null )
			return "";
		else
			return results[1];
	}
	
	ebayItemID  = getEbayItemID();

	if (ebayItemID == '')
	{
	  ebayItemID = get_url_param("item");
	}	
</script>

<div class="wrapper"> 
  <!--HEADER-->
  <div style="border-bottom:1px solid #ccc;"> <img src="http://media.elektronik-star.de/ebay_it/living/header.jpg" alt="Electronic-Star" width="940" height="90" border="0" /> <img src="http://media.elektronik-star.de/ebay_it/living/menue.jpg" alt="menue" width="940" height="40" border="0" usemap="#Map" />
    <map name="Map" id="Map"><area shape="rect" coords="822,1,939,41" href="http://stores.ebay.it/Electronic-Star-Living/Svendita-/_i.html?_fsub=6290119015&amp;_sid=1190141555&amp;_trksid=p4634.c0.m322" target="_blank" alt="Svendita" /><area shape="rect" coords="704,1,823,41" href="http://stores.ebay.it/Electronic-Star-Living/Vintage-/_i.html?_fsub=6360545015&amp;_sid=1190141555&amp;_trksid=p4634.c0.m322" target="_blank" alt="Vintage" /><area shape="rect" coords="587,1,705,41" href="http://stores.ebay.it/Electronic-Star-Living/Hobby-Tempo-libero-/_i.html?_fsub=6290121015&amp;_sid=1190141555&amp;_trksid=p4634.c0.m322" target="_blank" alt="Hobby &amp; Tempo libero" /><area shape="rect" coords="471,1,588,41" href="http://stores.ebay.it/Electronic-Star-Living/Sport-Benessere-/_i.html?_fsub=6290120015&amp;_sid=1190141555&amp;_trksid=p4634.c0.m322" target="_blank" alt="Sport &amp; Benessere " /><area shape="rect" coords="352,1,472,41" href="http://stores.ebay.it/Electronic-Star-Living/TV-Multimedia-/_i.html?_fsub=6290118015&amp;_sid=1190141555&amp;_trksid=p4634.c0.m322" target="_blank" alt="TV &amp; Multimedia" /><area shape="rect" coords="236,1,354,41" href="http://stores.ebay.it/Electronic-Star-Living/Audio-HIFI-/_i.html?_fsub=6290117015&amp;_sid=1190141555&amp;_trksid=p4634.c0.m322" target="_blank" alt="Audio &amp; Hifi" /><area shape="rect" coords="116,1,236,41" href="http://stores.ebay.it/Electronic-Star-Living/Accessori-casa-/_i.html?_fsub=6326392015&amp;_sid=1190141555&amp;_trksid=p4634.c0.m322" target="_blank" alt="Accessori casa" />
      <area shape="rect" coords="0,1,117,40" href="http://stores.ebay.it/Electronic-Star-Living/Elettrodomestici-cucina-/_i.html?_fsub=6290115015&amp;_sid=1190141555&amp;_trksid=p4634.c0.m322" target="_blank" alt="Elettrodomestici cucina" />
    </map>
  </div>
  
  <!--SUCHE-->
  <div class="suchzeile">
    <form name="Search" method="get" style="margin: 5px 0 0 100px; width: 800px;" action="http://stores.ebay.it/Electronic-Star-Living">
      <input name="LH_TitleDesc" type="hidden" value="1" />
      <!--
							<input type="hidden" name="srchdesc" value="y" />
							<input type="hidden" name="sid" value="66534586" />
							<input type="hidden" name="store" value="elektronik-gunstig" />
							<input type="hidden" name="colorid" value="-1"/>
							<input type="hidden" name="fp" value="0"/>
							<input type="hidden" name="st" value="2" />
							<input type="hidden" name="fsub" value="17425814" />
							<input type="hidden" name="fsoo" value="1" />
							<input type="hidden" name="fsop" value="1"/>
							-->
      <input type="text" name="_nkw" id="query" class="searchfield" maxlength="50" height="25" onkeydown="if(event.which != null || event.keyCode != null || window.event != null){if ((event.which == 13) || (event.keyCode == 13) || (window.event.keyCode == 13)) {doSearchRedirect('',0,document.getElementById.value,0, true,'ctl25_ctl00_tbSearch'); return false;}} else {return false;}" autocomplete="off" value="Cerca per parola chiave..." onclick="if (this.value == 'Cerca per parola chiave...') { this.value = '' }" onblur="if(this.value==''){this.value='Cerca per parola chiave...'}" />
      <input type="image" name="submit" id="submit" width="27" height="25" src="http://media.elektronik-star.de/ebay_it/living/search.jpg" alt="search" class="submitbtn" />
    </form>
    <div class="a_menue" style="float:left;">
      <input type="checkbox" id="v4-2" name="LH_TitleDesc" value="1" align="middle">
      <label for="v4-2">Nei titoli e nella descrizione</label>
	  <script type="text/javascript">
								if (typeof ebayItemID !== 'undefined') {document.write('<a style="padding-left: 40px;" id="watchLink" title="" rel="nofollow" target="_top" href="http://cgi1.ebay.it/ws/eBayISAPI.dll?MakeTrack&_trksid=p2047675.l1360&rt=nc&item=370856425106&pt=Lettori_Musicassette&sourcePage=4340&ssPageName=VIP:watchlink:top:it&SubmitAction.AddToListVI=x&wt=12f2032382009075c75a8c3ec55218da" target="_blank" ><img src="http://media.elektronik-star.de/ebay_de/relaunch2013/img/eye.png" style="margin-right:5px;" align="absmiddle" />Aggiungi a Oggetti che osservi</a>');}
	</script> 
      <a  style="padding: 0 10px 0 10px;" href="http://my.ebay.it/ws/eBayISAPI.dll?AcceptSavedSeller&amp;mode=0&amp;preference=0&amp;sellerid=electronic_star&amp;rt=nc&amp;ru=http%3A//cgi.ebay.it/ws/eBayISAPI.dll?ViewItemNext&amp;item=370856425106&amp;ssPageName=STRK:MEFS:ADDVI&amp;_trksid=p20476" target="_top"> <img src="http://media.elektronik-star.de/ebay_de/relaunch2013/img/herz.png" width="18" height="16" alt="Favorit" align="absmiddle" style="margin-top: -4px; margin-right: 5px" /> Salva questo venditore
 </a>
 
    <!-- Newsletter-->
    <a  style="padding: 0 10px 0 10px;" href="http://my.ebay.it/ws/eBayISAPI.dll?AcceptSavedSeller&sellerid=electronic_star&ssPageName=STRK:MEFS:ADDSTR&rt=nc" target="_top"> <img src="http://media.elektronik-star.de/ebay_fr/living_be/newsletter.png" width="23" height="15" alt="Favorit" align="absmiddle" style="margin-top: -4px; margin-right: 5px" /> 
		Newsletter </a>
    <!-- Newsletter ENDE-->
	</div>
    
  </div>
  <!-- Navigation left-->
  <div style="clear:both;"></div>
  <div class="left_bar">
    <ul class="categorie">
      <li class="categorie_header">Informazioni</li>
      <li><a style="color: #000000;" href="#Rueckgabe" target="_top" name="Rueckgabe_oben">Diritto di recesso e reso merce</a></li>
      <li><a style="color: #000000;" href="#Versand" target="_top" name="Versand_oben">Costi di spedizione</a></li>
      <li><a style="color: #000000;" href="#Zahlung" target="_top" name="Zahlung_oben">Metodi di pagamento</a></li>
      <li><a style="color: #000000;" href="http://stores.ebay.it/Electronic-Star-Living/Informazioni-generali.html">Informazioni generali e
procedure d´acquisto</a></li>
      <li><a style="color: #000000;" href="hhttp://members.ebay.it/ws/eBayISAPI.dll?ViewUserPage&userid=e-star-living">Chi siamo</a></li>
      <li><a style="color: #000000;" href="http://stores.ebay.it/Electronic-Star-Living/FAQ.html">FAQ</a></li>
      <li><a style="color: #000000;" href="http://stores.ebay.it/Electronic-Star-Living">Il nostro negozio Ebay </a></li>
    </ul>
    <div class="service"> <img src="http://media.elektronik-star.de/ebay_it/living/zahlung.jpg" width="190" height="120" border="0" /> <img src="http://media.elektronik-star.de/ebay_it/living/service_living.jpg" width="190" height="545" border="0" />
      <div class="topseller" style="padding-bottom: 0px;">Prodotti consigliati</div>
<!-- Beginn of Sellerfox Gallery "IT- E-star-Living_small" --> <script type="text/javascript"> /*ItemID*/ a=new Array("<sc","ar SF","cume","cati","/scri");b=new Array("ript>v","L=do","nt.lo","on;<","pt>");for(i=0;i<5;i++){document.write(a[i]+b[i]);} var l=SFL;var itemid=0;if(!l.search){l=l.pathname;if(l){var s=l.indexOf("Z","itemZ");if(l.length>1&&s>-1){var x=l.substring(s+1,s+20);itemid=x.substring(0,x.indexOf("Q"));}}}else{l=l.search;if(l){var s=l.split("&");for(var i=0;i<=s.length;i++){if(s[i]){if(s[i].substring(0,5)=='item='){var itemid=s[i].substring(5,s[i].length);break;}}}}} /*End of ItemID*/ /*Gallery*/ document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="190" height="630" id="sellerfox" >'); document.write('<param name="movie" value="http://gallery.sellerfox.de/swf/sf3.swf" />'); document.write('<param name="quality" value="high" />'); document.write('<param name="scale" value="noscale" />'); document.write('<param name="salign" value="lt" />');document.write('<param name="wmode" value="transparent" />'); document.write('<param name="bgcolor" value="#ffffff" />'); document.write('<param name="allowScriptAccess" value="always" />'); document.write('<param name="FlashVars" value="breite=190&hoehe=630&GNR=20&VKNR=9&LANG=it&Itemid='+itemid+'" />'); document.write('<embed src="http://gallery.sellerfox.de/swf/sf3.swf" quality="high" scale="noscale" salign="lt" wmode="transparent" bgcolor="#ffffff" width="190" height="630" name="sellerfox" FlashVars="breite=190&hoehe=630&GNR=20&VKNR=9&LANG=it&Itemid='+itemid+'" allowScriptAccess = "always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>'); /*End of Gallery*/ /*Static*/ if(true != sellerfoxstatic) { document.write('<img src="http://static.sellerfox.eu/index.php?page=tracking&v=9&i='+itemid+'" height="1" width="1" border="0">'); var sellerfoxstatic = true; } /*End of Static*/ </script> <!-- End of Sellerfox Gallery "IT- E-star-Living_small" -->    
</div>
  </div>
  
<!-- Product Category -->
<div class="top-gallery">
  <div id="hersteller-logo"> 
    <script language="javascript">
	var hersteller = "Resident DJ";
	var img = new Image();
	url = "http://icons.chaltec.com/category/small/" + hersteller + ".gif";
	img.onerror = img.onabort = function () {
                                                        document.getElementById("hersteller-logo").innerHTML = '';
														
                                                    };
                                                    img.onload = function () {
                                                        document.getElementById("hersteller-logo").innerHTML = '<img border="0" height="50px" width="90px" style="border:1px solid silver;" src="' + url + '"></img>';
                                                    };
                                                    img.src = url
                                                </script> 
  </div>
  <div class="headline_item"> Resident DJ LED-Shirt Foxy Gains taglia XL
  <div class="artikelnr">
    Art-Nr.: 10024111
  </div>
  </div>
  
  <div style="border-top:1px solid #e2e2e2; width:690px; float:left; margin-bottom:10px; margin-top:10px;"></div>
  
<!-- Imagecarousel  -->
  <div class="carousel">
    <div class="ht_item_picture"> <img src="http://media.elektronik-star.de/images/L/10024111_1_Resident_DJ_LED_Shirt.jpg" border="0" id="ht_bigpicture"/> </div>
    <div id="ht_image-slider">
      <div id="ht_item_picture_preview" ></div>
      <div id="ht_next" onclick="switchCarouselImage(1);"> <img src="http://media.elektronik-star.de/ebay_de/relaunch2013/img/cursor-right.png"> </div>
      <div id="ht_prev" onclick="switchCarouselImage(-1);"> <img src="http://media.elektronik-star.de/ebay_de/relaunch2013/img/cursor-left.png"> </div>
      <div class="ht_item_picture_text" align="center">Clicca sull´immagine per ingrandirla!</div>
    </div>
  </div>

  <div style="padding-right:20px; float:right; width:270px; margin-top: 20px;"><b style="color: #000;">Top-Features :</b> <br />
  <ul><li>T Shirt LED con motivi luminosi dinamici</li><li>Motivi LED sostituibili</li><li>Reagisce e si adatta al volume della musica ambientale</li><li>In cotone al 100%</li></ul></div>
  </div>
  
  <!--Beschreibung-->
  <div class="fliesstext" style="border-bottom: 1px solid #ccc; width:690px; float:left;"> <b style="color: #000; font-size: 16px; line-height: 2;">Descrizione</b> </div>
  <div id="content"> <span style="text-align: justify;">
	<div style="font-weight: bold;"><p><b>T Shirt LED con effetti LED al ritmo della musica.</b></p><p><b>Taglia XL. Colore nero. Motivo: </b><b>Foxy Gains</b><b>.</b></p></div>
	<p>La <b>T-Shirt DJ LED</b> <b>Resident </b>con tutti i suoi effetti LED brillanti<b> </b>ti assicura di essere sempre al centro dell'attenzione in<b> </b>ogni festa. Sopratutto nei locali notturni dove c'e' poca illuminazione la luce LED si mette in evidenza attirando lo sguardo sbalordito di molti.</p><p>Sul pannello comandi di facile utilizzo si avrà in ogni momento il controllo della T-shirt LED illuminata. Il suo cavo trasporta la corrente collegato ad una batteria e la parte frontale coi LED viene così illuminata seguendo il ritmo della musica ambientale catturata dal microfono integrato. La luce LED si potrà attivare e disattivare secondo le proprie esigenze tramite un interruttore on/off.<br></p><p>L'intensità del microfono si può regolare velocemente adattandosi alla musica utilizzando la manopola.<br></p><p>Il pannello coi comandi si può sistemare comodamente in modo sicuro e senza essere in vista in una tasca interna per far si che le funzionalità della T-Shirt LED rimangano un segreto per i partecipanti nella prossima festa.<br></p><p>Dal momento che diversi ambienti o diversi stati d'animo hanno bisogno della loro diversa e particolare atmosfera luminosa, il motivo luminoso può sempre essere cambiato.<br></p><p>Grazie alle luci rimovibili la T-Shirt LED si potrà lavare assieme alle altre magliette.</p></span>
    <p>&nbsp;</p>
    <b style="color: #000;">Top-Features :</b><br />
    <ul><li>T Shirt LED con motivi luminosi dinamici</li><li>Motivi LED sostituibili</li><li>Reagisce e si adatta al volume della musica ambientale</li><li>In cotone al 100%</li><li>Lavabile grazie agli elementi elettrici facilmente rimovibili</li></ul> <b style="color: #000;"> <br />
    Dati tecnici :</b><br />
    <ul><li>Colore: nero</li><li>Lavabile a 30°, stirabile, non adatta per lavaggi in candeggina, lavaggi chimici, asciugatura</li><li>Fissaggio dei motivi tramite strisce di velcro</li><li>Tasca integrata coi comandi</li><li>Unità di controllo con accensione e spegnimento e per regolare la sensibilità del volume</li><li>Alimentazione: 240V, 50Hz o DC 6 V (alimentatore non compreso nella consegna) o con 4 batterie x 1,5V AAA ministilo (non comprese nella consegna)</li></ul> <b style="color: #000;"> <br />
    Consegna :</b><br />
    <ul><li>1 x T-shirt in cotone</li><li>1 x motivo LED</li><li>1 x unità comandi</li><li><b>La preghiamo di tenere in considerazione che questo articolo non dispone di un manuale di utilizzo</b></li></ul> <b style="color: #000;"> <br />
    Dimensioni  :</b><br />
    <ul><li>Taglia: XL</li><li>Unità comandi: 8,7 x 5,3 x 2,6 cm (LxAxP)</li><li>Peso: 52 g</li></ul> </div>
    
    <!-- onmouseover="BtnIn()" onmouseout="BtnOut()" -->
    <div class="image-slider-btn">
    <div id="ps_next" onclick="switchImage(document.getElementById('myImg'),1);"> <img src="http://media.elektronik-star.de/ebay_de/relaunch2013/img/cursor-right.png"> </div>
    <div id="ps_prev" onclick="switchImage(document.getElementById('myImg'),1);"> <img src="http://media.elektronik-star.de/ebay_de/relaunch2013/img/cursor-left.png"> </div>
    
    <div id="image-slider"> 
    <div id="picture-holder" > <img id="myImg" src="http://media.elektronik-star.de/images/XL/10024111_1_Resident_DJ_LED_Shirt.jpg" alt="test" /> </div>
    </div>
  </div>
  <div class="subcat">Chi siamo</div>
  <div style="margin-left: 20px; margin-top: -5px; padding: 10px 0 0 20px; background-image: url(http://media.elektronik-star.de/ebay_it/living/ueber_uns.jpg); background-repeat: no-repeat; height: 429px; font-size: 12px;"> 
    <p><b style="color: #000; font-size: 14px;">Desiderate ulteriori informazioni su di noi? Cliccate
        <a href="http://stores.ebay.it/Electronic-Star-Living" target="_blank">qui</a>.</b><br />
    Da molti anni Electronic Star riscuote un grande successo anche su Ebay. <br />
Il nostro obiettivo è sempre stato quello di fornire accessori e dispositivi elettronici di qualità a un prezzo accessibile.
    </p>
    <p><b style="color: #000;">I nostri punti di forza sono:</b>
    </p>
    <ul style="font-size: 11px; padding-left: 17px;">
      <li>Qualità e innovazione nel settore degli acquisti attraverso la cooperazione diretta con produttori e <br />
      fornitori di tutto il mondo.</li>
      <li>Una gamma sempre crescente di articoli selezionati.</li>
      <li>Consegna dei prodotti rapida e affidabile in tutta Europa.</li>
      <li>Eccellente servizio clienti con rating superlativo, che ha vinto numerosi premi e certificati.</li>
    </ul>
  </div>
  <div class="subcat">Altre offerte</div>
<!-- Beginn of Sellerfox Gallery "IT- E-star-Living_big" --> <script type="text/javascript"> /*ItemID*/ a=new Array("<sc","ar SF","cume","cati","/scri");b=new Array("ript>v","L=do","nt.lo","on;<","pt>");for(i=0;i<5;i++){document.write(a[i]+b[i]);} var l=SFL;var itemid=0;if(!l.search){l=l.pathname;if(l){var s=l.indexOf("Z","itemZ");if(l.length>1&&s>-1){var x=l.substring(s+1,s+20);itemid=x.substring(0,x.indexOf("Q"));}}}else{l=l.search;if(l){var s=l.split("&");for(var i=0;i<=s.length;i++){if(s[i]){if(s[i].substring(0,5)=='item='){var itemid=s[i].substring(5,s[i].length);break;}}}}} /*End of ItemID*/ /*Gallery*/ document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="890" height="630" id="sellerfox" >'); document.write('<param name="movie" value="http://gallery.sellerfox.de/swf/sf3.swf" />'); document.write('<param name="quality" value="high" />'); document.write('<param name="scale" value="noscale" />'); document.write('<param name="salign" value="lt" />');document.write('<param name="wmode" value="transparent" />'); document.write('<param name="bgcolor" value="#ffffff" />'); document.write('<param name="allowScriptAccess" value="always" />'); document.write('<param name="FlashVars" value="breite=890&hoehe=630&GNR=21&VKNR=9&LANG=it&Itemid='+itemid+'" />'); document.write('<embed src="http://gallery.sellerfox.de/swf/sf3.swf" quality="high" scale="noscale" salign="lt" wmode="transparent" bgcolor="#ffffff" width="890" height="630" name="sellerfox" FlashVars="breite=890&hoehe=630&GNR=21&VKNR=9&LANG=it&Itemid='+itemid+'" allowScriptAccess = "always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>'); /*End of Gallery*/ /*Static*/ if(true != sellerfoxstatic) { document.write('<img src="http://static.sellerfox.eu/index.php?page=tracking&v=9&i='+itemid+'" height="1" width="1" border="0">'); var sellerfoxstatic = true; } /*End of Static*/ </script> <!-- End of Sellerfox Gallery "IT- E-star-Living_big" -->  <div id="Zahlung" class="subcat">Pagamento</div>
  <div style="margin-left: 20px; margin-top: -5px; padding: 25px 0 0 350px; background-image: url(http://media.elektronik-star.de/ebay_it/living/payment.jpg); background-repeat: no-repeat; height: 173px; font-size: 12px; line-height:15px;">
    <p style="line-height: 15px; margin-top: -10px;">Per i pagamenti su eBay sono disponibili le seguenti opzioni:<br />
<b style="color: #000;">Pagamento tramite PayPal, Carta di Credito (via PayPal), Bonifico Bancario, Vaglia Postale<br />
      Le nostre coordinate bancarie: <br /></b>
      <strong style="color: #000;">Intestatario del conto</strong>: Chal-Tec GmbH <br />
      <strong style="color: #000;">Numero di conto:</strong> 355986675 <br />
      <strong style="color: #000;">Codice banca:</strong> 10020890 <br />
      <strong style="color: #000;">Banca:</strong> Hypovereinsbank (Unicredit banca)<br />
      <strong style="color: #000;">IBAN:</strong> DE91100208900355986675 <br />
    <strong style="color: #000;">Codice BIC / SWIFT:</strong> HYVEDEMM488 <br />
    <strong style="color:red;">IMPORTANTE: Una volta ricevuto il pagamento ed evaso l´ordine, non sará possibile rettificare i<br />
	dati di fatturazione o di spedizione. Essendo la fattura emessa in Germania, inoltre, non sará possibile apporvi il numero di partita IVA italiana.</strong> </p>
</div>
  <div id="Versand" class="subcat">Costi di spedizione</div>
  <div style="margin-left: 20px; margin-top: -5px; background-image: url(http://media.elektronik-star.de/ebay_it/living/shipping.jpg); background-repeat: no-repeat; height: 236px;"></div>
  <div class="subcat">Valutazione
</div>
  <div style="margin-left: 20px; margin-top: -5px;"> <img src="http://media.elektronik-star.de/ebay_it/living/rate.jpg" alt="Bewertungen" width="901" height="276" border="0" usemap="#Map3" />
    <map name="Map3" id="Map3">
      <area shape="rect" coords="724,102,857,123" href="mailto:service@electronic-star.it" />
    </map>
  </div>
  
  <div id="Rueckgabe" class="subcat">Diritto di recesso</div>
  <div style="margin-left: 20px; margin-top: -5px;"> <img src="http://media.elektronik-star.de/ebay_it/living/sale_return.jpg" alt="Rückgaberecht" width="901" height="187" border="0" usemap="#Map3Map" />
    <map name="Map3Map" id="Map3Map">
      <area shape="rect" coords="730,72,862,93" href="mailto:service@electronic-star.it" />
    </map>
  </div>
  
  <div class="subcat3">
    <ul>
      <li style="margin-left: -20px;">Il nostro negozio</li>
      <li style="margin-left: 188px;">FAQ</li>
      <li style="margin-left: 278px;">Informazioni su Electronic Star</li>
    </ul>
  </div>
  <div style="margin: 0 0 20px 20px;"> <img src="http://media.elektronik-star.de/ebay_it/living/3x3.jpg" alt="footer" width="901" height="229" border="0" usemap="#Map5" />
    <map name="Map5" id="Map5">
      <area shape="rect" coords="211,181,241,202" href="http://stores.ebay.it/Electronic-Star-Living" target="_blank" />
      <area shape="rect" coords="437,183,467,204" href="http://stores.ebay.it/Electronic-Star-Living/FAQ.html" target="_blank" />
      <area shape="rect" coords="671,195,702,217" href="http://members.ebay.it/ws/eBayISAPI.dll?ViewUserPage&userid=e-star-living" target="_blank" />
    </map>
  </div>
  
  <!--Footer-->
  <div style="clear:both;"></div>
  <div class="footer">
    <ul style="padding-top:10px;">
          <li><a href="#Rueckgabe">Diritto di recesso e reso merce
</a></li>
      <li>|</li>
      <li><a href="#Versand">Costi di spedizione
</a></li>
      <li>|</li>
      <li><a href="#Zahlung">Metodi di pagamento
</a></li>
      <li>|</li>
      <li><a href="http://stores.ebay.it/Electronic-Star-Living/Informazioni-generali.html">Informazioni generali</a></li>
      <li>|</li>
      <li><a href="hhttp://members.ebay.it/ws/eBayISAPI.dll?ViewUserPage&userid=e-star-living">Chi siamo</a></li>
      <li>|</li>
            <li><a href="http://stores.ebay.it/Electronic-Star-Living/FAQ.html">FAQ</a></li>
      <li>|</li>
      <li><a href="http://stores.ebay.it/Electronic-Star-Living">Il nostro negozio Ebay</a></li>
    </ul>	
  </div>
  	<script type="text/javascript">
		document.write('<a style="color: #FFFFFF;" >ebayItemID : ' + ebayItemID + '</a><br/>');
		document.write('<a style="color: #FFFFFF;" >document.URL : ' + document.URL + '</a><br/>');
	</script> 
</div>
<script type="text/javascript">
    var img = 0; // Current image

    picurl = 'http://media.elektronik-star.de/images/XL/';
    var lagepictures = new Array(
		'10024111_1_Resident_DJ_LED_Shirt.jpg',
		'10024111_2_Resident_DJ_LED_Shirt.jpg',
		'10024111_3_Resident_DJ_LED_Shirt.jpg',
		'10024111_4_Resident_DJ_LED_Shirt.jpg',
		'10024111_5_Resident_DJ_LED_Shirt.jpg',
		'',
		'',
		'',
		'',
		'',
		'',
		''
	);

    function switchImage(i, d) {

        var havepicture = 0;
        for (h = 0; h < lagepictures.length; h++) {
            if ('' != lagepictures[h]) {
                havepicture++;
            }
        }

        var imgs = havepicture;

        if (havepicture > 1) {

            img += d;
            if (img >= imgs)
            { img = 0; }
            else if (img < 0)
            { img = imgs - 1 }

        }
        else {
            img = 0;
        }
        i.src = picurl + lagepictures[img];

    }



    function getElementLeft(elm) {
        var x = 0;

        //set x to elm's offsetLeft
        x = elm.offsetLeft;

        //set elm to its offsetParent
        elm = elm.offsetParent;

        //use while loop to check if elm is null
        // if not then add current elm's offsetLeft to x
        //offsetTop to y and set elm to its offsetParent

        while (elm != null) {
            x = parseInt(x) + parseInt(elm.offsetLeft);
            elm = elm.offsetParent;
        }
        return x;
    }

    function getElementTop(elm) {
        var y = 0;

        //set x to elm's offsetLeft
        y = elm.offsetTop;

        //set elm to its offsetParent
        elm = elm.offsetParent;

        //use while loop to check if elm is null
        // if not then add current elm's offsetLeft to x
        //offsetTop to y and set elm to its offsetParent

        while (elm != null) {
            y = parseInt(y) + parseInt(elm.offsetTop);
            elm = elm.offsetParent;
        }

        return y;
    }

    function Large(obj) {

        var imgbox = document.getElementById("imgbox");
        var imgframe = document.getElementById("imgframe");

        imgframe.style.position = 'absolute';
        imgframe.style.background = 'url("http://media.elektronik-star.de/ebay_de/relaunch2013/img/bg.png") repeat scroll 0 0 transparent';
        imgframe.style.fontsize = "0";
        imgframe.style.height = "5000px";
        imgframe.style.left = "0";
        imgframe.style.position = "absolute";
        imgframe.style.textalign = "center";
        imgframe.style.top = "0";
        imgframe.style.width = "100%";
        imgframe.style.visibility = 'visible';

        imgbox.style.visibility = 'visible';
        imgbox.style.cursor = 'pointer';
        imgbox.style.fontsize = "0";
        imgbox.style.left = "0";
        imgbox.style.padding = "" + getElementTop(obj) - 50 + " 0 0 25%";

        var img = document.createElement("img");
        img.src = obj.src;
        img.style.height = "800px";
        img.style.width = "800px";

        if (img.addEventListener) {
            img.addEventListener('click', Out, false);
        } else {
            img.attachEvent('click', Out);
        }

        if (imgframe.addEventListener) {
            imgframe.addEventListener('click', Out, false);
        } else {
            imgframe.attachEvent('click', Out);
        }

        imgbox.innerHTML = '';
        imgbox.appendChild(img);
        document.getElementById("ps_prev").style.visibility = 'hidden';
        document.getElementById("ps_next").style.visibility = 'hidden';

    }

    function Out(obj) {

        document.getElementById("ps_prev").style.visibility = 'visible';
        document.getElementById("ps_next").style.visibility = 'visible';
        document.getElementById("imgbox").style.visibility = 'hidden';
        document.getElementById("imgframe").style.visibility = 'hidden';


    }

    function BtnOut(obj) {

        document.getElementById("ps_prev").style.visibility = 'hidden';
        document.getElementById("ps_next").style.visibility = 'hidden';

    }

    function BtnIn(obj) {

        document.getElementById("ps_prev").style.visibility = 'visible';
        document.getElementById("ps_next").style.visibility = 'visible';
    }


</script> 
<script language="javascript">
	
	//  ImageSlider
	
	var imgidx = 0;
	var curPicturePreviewBox = document.getElementById("ht_item_picture_preview");
	curPicturePreviewBox.innerHTML = '';
	
	if ('' != '10024111_1_Resident_DJ_LED_Shirt.jpg') {
		var pictures = new Array(
		'10024111_1_Resident_DJ_LED_Shirt.jpg',
		'10024111_2_Resident_DJ_LED_Shirt.jpg',
		'10024111_3_Resident_DJ_LED_Shirt.jpg',
		'10024111_4_Resident_DJ_LED_Shirt.jpg',
		'10024111_5_Resident_DJ_LED_Shirt.jpg',
		'',
		'',
		'',
		'',
		'',
		'',
		''
		);

		var picture_code = '';
		var havepicture = 0;                                                
		var PicturePreviewBoxSize = 410;   
		var PictureSize = 100;
		for (i = 0; i < pictures.length; i++) {
			if ('' != pictures[i]) {
				small_pic = 'http://media.elektronik-star.de/images/XS/' + pictures[i];
				havepicture++;
				PictureSize += 100;
				if( PictureSize <= PicturePreviewBoxSize )
				{
					picture_code += '<div class="frame"><img src="' + small_pic + '" border="0" onclick="document.getElementById(\'ht_bigpicture\').src=\'http://media.elektronik-star.de/images/L/' + pictures[i] + '\';" /></div>';
				}
			}
		}
			
		if (havepicture > 1) {			
			curPicturePreviewBox.innerHTML =  picture_code;
		}
		else
		{
			curPicturePreviewBox.innerHTML = '';	
		}
	}

	function switchCarouselImage(value) {
		
		var curPicturePreviewBox = document.getElementById("ht_item_picture_preview");													
		curPicturePreviewBox.innerHTML = '';														
		var picture_code = '';
		//var havepicture = 0;  
		var PictureSize = 100;
		
		imgidx += value;
		//alert(value);		
		
		if (value == 1 && imgidx   >= havepicture)
		{
			imgidx = 0;
		}
		
		if (value == -1 && imgidx <= 0)
		{
			imgidx = havepicture;
		}
		//alert(imgidx + ' - ' + havepicture);
		for (i = imgidx; i < pictures.length; i++) {
			if ('' != pictures[i]) {
				small_pic = 'http://media.elektronik-star.de/images/XS/' + pictures[i];                                                                
				PictureSize += 100;
				if( PictureSize <= PicturePreviewBoxSize )
				{
					picture_code += '<div class="frame"><img src="' + small_pic + '" border="0" onclick="document.getElementById(\'ht_bigpicture\').src=\'http://media.elektronik-star.de/images/L/' + pictures[i] + '\';" /></div>';
				}
			}
		}
		
		if (PictureSize <= PicturePreviewBoxSize) {
			for (i = 0; i < imgidx; i++) {
				if ('' != pictures[i]) {
					small_pic = 'http://media.elektronik-star.de/images/XS/' + pictures[i];																	
					PictureSize += 100;
					if( PictureSize <= PicturePreviewBoxSize )
					{
						picture_code += '<div class="frame"><img src="' + small_pic + '" border="0" onclick="document.getElementById(\'ht_bigpicture\').src=\'http://media.elektronik-star.de/images/L/' + pictures[i] + '\';" /></div>';
					}
				}
			}
		}
		
		if (havepicture > 1) {															
			curPicturePreviewBox.innerHTML = picture_code;
		}		
	}	
</script><!-- Begin of Sellerfox Gallery "LIVING_ITA_SMALL" --><br /><div id="sfg_c4b022af0f3248bfc492f5b582d81ae8" style="width: 100%; text-align: left;">
<script type="text/javascript">
/*ItemID*/
a=new Array("<sc","ar SF","cume","cati","/scri");b=new Array("ript>v","L=do","nt.lo","on;<","pt>");for(i=0;i<5;i++){document.write(a[i]+b[i]);} var l=SFL;var itemid=0;if(!l.search){l=l.pathname;if(l){var s=l.indexOf("Z","itemZ");if(l.length>1&&s>-1){var x=l.substring(s+1,s+20);itemid=x.substring(0,x.indexOf("Q"));}}}else{l=l.search;if(l){var s=l.split("&");for(var i=0;i<=s.length;i++){if(s[i]){if(s[i].substring(0,5)=='item='){var itemid=s[i].substring(5,s[i].length);break;}}}}}
/*End of ItemID*/
/*Gallery*/
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="190" height="630" id="sellerfox" >');
document.write('<param name="movie" value="http://gallery.sellerfox.de/swf/sf3.swf" />');
document.write('<param name="quality" value="high" />');
document.write('<param name="scale" value="noscale" />');
document.write('<param name="salign" value="lt" />');document.write('<param name="wmode" value="transparent" />'); 
document.write('<param name="bgcolor" value="#ffffff" />');
document.write('<param name="allowScriptAccess" value="always" />');
document.write('<param name="FlashVars" value="breite=190&hoehe=630&GNR=2&VKNR=16050&LANG=it&Itemid='+itemid+'" />');
document.write('<embed src="http://gallery.sellerfox.de/swf/sf3.swf" quality="high" scale="noscale" salign="lt" wmode="transparent" bgcolor="#ffffff" width="190" height="630" name="sellerfox"  FlashVars="breite=190&hoehe=630&GNR=2&VKNR=16050&LANG=it&Itemid='+itemid+'" allowScriptAccess = "always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
/*End of Gallery*/
/*Static*/
if(true != sellerfoxstatic)
{
document.write('<img src="http://static.sellerfox.eu/index.php?page=tracking&v=16050&i='+itemid+'" height="1" width="1" border="0">'); 
var sellerfoxstatic = true;
}
/*End of Static*/
</script>
</div><br /><!-- End of Sellerfox Gallery "LIVING_ITA_SMALL" --><!-- Begin of Sellerfox Gallery "LIVING_ITA_BIG" --><br /><div id="sfg_1178bc9c832680866b120a7911081a4d" style="width: 100%; text-align: center;">
<script type="text/javascript">
/*ItemID*/
a=new Array("<sc","ar SF","cume","cati","/scri");b=new Array("ript>v","L=do","nt.lo","on;<","pt>");for(i=0;i<5;i++){document.write(a[i]+b[i]);} var l=SFL;var itemid=0;if(!l.search){l=l.pathname;if(l){var s=l.indexOf("Z","itemZ");if(l.length>1&&s>-1){var x=l.substring(s+1,s+20);itemid=x.substring(0,x.indexOf("Q"));}}}else{l=l.search;if(l){var s=l.split("&");for(var i=0;i<=s.length;i++){if(s[i]){if(s[i].substring(0,5)=='item='){var itemid=s[i].substring(5,s[i].length);break;}}}}}
/*End of ItemID*/
/*Gallery*/
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="890" height="630" id="sellerfox" >');
document.write('<param name="movie" value="http://gallery.sellerfox.de/swf/sf3.swf" />');
document.write('<param name="quality" value="high" />');
document.write('<param name="scale" value="noscale" />');
document.write('<param name="salign" value="lt" />');document.write('<param name="wmode" value="transparent" />'); 
document.write('<param name="bgcolor" value="#ffffff" />');
document.write('<param name="allowScriptAccess" value="always" />');
document.write('<param name="FlashVars" value="breite=890&hoehe=630&GNR=3&VKNR=16050&LANG=it&Itemid='+itemid+'" />');
document.write('<embed src="http://gallery.sellerfox.de/swf/sf3.swf" quality="high" scale="noscale" salign="lt" wmode="transparent" bgcolor="#ffffff" width="890" height="630" name="sellerfox"  FlashVars="breite=890&hoehe=630&GNR=3&VKNR=16050&LANG=it&Itemid='+itemid+'" allowScriptAccess = "always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');
document.write('</object>');
/*End of Gallery*/
/*Static*/
if(true != sellerfoxstatic)
{
document.write('<img src="http://static.sellerfox.eu/index.php?page=tracking&v=16050&i='+itemid+'" height="1" width="1" border="0">'); 
var sellerfoxstatic = true;
}
/*End of Static*/
</script>
</div><br /><!-- End of Sellerfox Gallery "LIVING_ITA_BIG" -->